/* ------------------------------------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
header,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Nanum Gothic', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* ------------------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------------------------------------- */

section {
    padding: 10px 5px;
}

/* ------- HEADINGS ------- */

h1 {
 font-size: 200%;
 word-spacing: 2px;
 text-align: center;
 margin-bottom: 25px;
 letter-spacing: 1px;
 text-transform: uppercase;
}

h1:after {
    display: block;
    height: 2px;
    background-color: #3498db;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 30px;
}

h2 {
 font-size: 200%;
 word-spacing: 2px;
 text-align: center;
 margin-bottom: 20px;
 letter-spacing: 1px;
 text-transform: uppercase;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #3498db;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}

/* ------- BUTTONS ------- */

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #3498db;
    color: #3498db;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #3498db;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #3498db;
    color: #fff;
}


/* ------------------------------------------------------------------- */
/* HEADER */
/* ------------------------------------------------------------------- */

#content1 {
    text-align: center;
    padding-top: 15%;
}

header {
    color: #fff;
    background-image: (linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(images/headerpic.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/headerpic.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

header h1 {
    font-size: 60px;
}

nav {
    color: #fff;
}


/* ------- NAVBAR SETUP ------- */

.navbar-light {
    background-color: #3498db;
}

#brand1 {
    color: #fff;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    color: #fff;
}

/* ------- BUTTONS IN HEADER ------- */

#btn1 {
    margin-top: 25px;
    font-size: 20px;
}


